{% extends "layout.html" %}

{%block content%}
<section class="section is-login" style="min-height: 100vh;">
    <div class="container is-blur" style="margin-top: 5rem; padding: 2rem;">
      <h2 class="title is-2 has-text-white">Contáctanos</h2>
      <form action="" method="POST">
        <div class="field">
          <label class="label has-text-white">Nombre:</label>
          <div class="control">
            <input class="input" type="text" name="nombre">
          </div>
        </div>
        <div class="field">
          <label class="label has-text-white">Email:</label>
          <div class="control">
            <input class="input" type="email" name="email">
          </div>
        </div>
        <div class="field">
          <label class="label has-text-white">Mensaje:</label>
          <div class="control">
            <textarea class="textarea" name="mensaje"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary has-text-white">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
{%endblock%}